* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header,
footer {
    color: white;
    background-color: black;
}


nav {
    display: flex;
    gap: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #fef8f8;
}

a {
    color: rgb(18, 11, 239);
}

.produto {
    background-color: #222222;
    color: white;
}

.modelo1 {
    background-color: #8A2BE2; /* roxo */
    color: white;
}

.modelo2 {
    background-color: #FFD700; /* dourado */
    color: black;
}

#destaque {
    background-image: url("images.jpg");
    margin: 5;
    background-color: #fcfafa;
    color: rgb(19, 19, 19);
}

.imagem-fundo {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 300px;
    padding-bottom: 0;
}